
/* KRPANO CSS */
@-ms-viewport { width:device-width; }

/* BORDER BOX */
*, *:before, *:after {
  -moz-box-sizing: border-box; box-sizing: border-box;
 }


.sharptext {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


.pano-bg {
	background: #000;
}
#pano {
	/* cursor: url(../Images/hand_grip_s.png) 10 10, move; */
	width: 100%;
	height: 100%;
	background: #000;
	cursor: move;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	opacity: 0.5;
	-webkit-transition: 0.5s opacity;
	transition: 0.5s opacity;
	-webkit-filter: hue-rotate(-20deg);
	/*-webkit-filter: hue-rotate(-20deg) grayscale(80%) brightness(50%); */
}
#pano #krpanoSWFObject {
	display: block;
}
body.panning #pano {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	opacity: 1;
}
#pano.moving {
	/* cursor: url(../Images/hand_grip_m.png) 10 10, move; */
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing;
}


/* INTRO
======== */
.intro {
	position: absolute;
	height: 332px;
	width: 680px;
	top: 50%;
	left: 50%;
	margin: -166px 0 0 -340px;
	-webkit-transition: 0.5s -webkit-transform ease-out, 0.25s opacity ease-out;
	transition: 0.5s transform ease-out, 0.25s opacity 0.25s ease-out;
}
body.hide .intro {
	-webkit-transform: translateY(-800px);
	-ms-transform: translateY(-800px);
	transform: translateY(-800px);
	opacity: 0;
	-webkit-transition: 0.5s -webkit-transform ease-in, 0.25s opacity ease-in;
	transition: 0.5s 0.25s transform ease-in, 0.25s opacity 0.25s ease-in, 0s 0.5s visibility;
}
.intro h1 {
	font-size: 90px;
	text-align: center;
	opacity: 1;
	font-weight: normal;
	font-size: 100px;
	line-height: 100px;
	color: #FFF;
	text-align: center;
	text-shadow: 0 1px 0 #333;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	margin: 0 0 8px;
}
.intro span {
	font-size: 28px;
	margin-bottom: 20px;
	display: block;
	text-align: center;
	cursor: default;
	color: #FFF;
	font-weight: bold;
	text-shadow: 0 1px 0 #333;
}

.intro p {
	text-align: center;
	color: #FFF;
	font-size: 22px;
	margin: 0 50px;
	text-shadow: 0 1px 0 #333;
}

.intro .btn-form {
	display: block;
	background: #6A9B2A;
	color: #F8F8F8;
	border: none;
	padding: 10px 12px;
	font-weight: bold;
	width: 200px;
	margin: 0 auto;
	border-radius: 3px;
	/* cursor: url(../Images/hand_hover_s.png) 10 8, pointer; */
	cursor: pointer;
}
/* TEMP BLUE TEST */
.intro .btn-form {
	font-size: 12px;
	text-align: center;
	background: #0079BF;
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#003091), color-stop(100%,#00B8E6));
	background: -webkit-linear-gradient(left, #003091 0%, #00B8E6 100%);
	background: linear-gradient(to right, #003091 0%,#00B8E6 100%);
	background-repeat: no-repeat;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
	-webkit-transition: 0.35s all;
	transition: 0.35s all;
}
.intro .btn-form[disabled],
.intro .btn-form.disabled {
	color: #7FACC7;
	color: rgba(255,255,255,0.5);
	cursor: not-allowed;
}


/* BTN EXPAND INTRO
=================== */
.btn-expand {
	width: 100px;
	height: 50px;
	position: absolute;
	left: 50%;
	margin-left: -20px; /* TAKE INTO ACCOUNT NAV BAR WIDTH */
	top: -50px;
	overflow: hidden;
	-webkit-transition: 0.35s all;
	transition: 0.35s all;
	z-index: 1;
}

body.hide .btn-expand {
	top: 0;
	-webkit-transition: 0.35s 0.5s all;
	transition: 0.35s 0.5s all;
}
.btn-expand .half-circle {
	position: absolute;
	top: -50px;
	left: 0;
	width: 100px;
	height: 100px;
	background: #F8F8F8;
	border-radius: 100%;
	text-align: center;
	line-height: 148px;
	-webkit-transition: 0.35s all;
	transition: 0.35s all;
}
.btn-expand:hover .half-circle {
	/* cursor: url(../Images/hand_hover_s.png) 10 12, pointer; */
	cursor: pointer;
	background: rgba(255,255,255,.5);
}
.btn-expand .half-circle img {
	-webkit-transition: 0.35s all;
	transition: 0.35s all;
	display: inline;
}
.btn-expand:hover .half-circle img {
	opacity: 0.5;
}


@media only screen and (max-width: 1024px) {}

@media only screen and (max-width: 480px) {
	.intro {
		width: 80%;
		margin: 0;
		left: 10%;
		top: 30%; 
	}
	.intro h1 {
		font-size: 40px;
		line-height: 40px;
	}
	.intro span {
		font-size: 18px;
	}
}

/* DEBUGGING
============
#support {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	background: #333;
	list-style: none;
	padding: 10px;
	margin: 0;
}
#support:hover {
	cursor: not-allowed;
}
#support li {
	font-size: 10px;
	font-family: 'Avenir', Helvetica, Arial;
}
#support li.title {
	font-weight: bold;
	border-bottom: 1px solid rgba(255,255,255,0.25);
	font-size: 12px;
	margin-bottom: 10px;
	padding-bottom: 4px;
}
*/