$text-dark: #333;
$text-dark-alt: #555;
$text-light: #FFF;

@font-face {
  font-family: 'caslon-graphique';
  src: url('../fonts/caslongraphiqueforgarbergs-webfont.eot');
  src: url('../fonts/caslongraphiqueforgarbergs-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/caslongraphiqueforgarbergs-webfont.woff') format('woff'),
       url('../fonts/caslongraphiqueforgarbergs-webfont.ttf') format('truetype'),
       url('../fonts/caslongraphiqueforgarbergs-webfont.svg#bau-boldregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'bau';
    src: url('../fonts/bau-regular-webfont.eot');
    src: url('../fonts/bau-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bau-regular-webfont.woff') format('woff'),
         url('../fonts/bau-regular-webfont.ttf') format('truetype'),
         url('../fonts/bau-regular-webfont.svg#bau-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'bau';
    src: url('../fonts/bau-bold-webfont.eot');
    src: url('../fonts/bau-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bau-bold-webfont.woff') format('woff'),
         url('../fonts/bau-bold-webfont.ttf') format('truetype'),
         url('../fonts/bau-bold-webfont.svg#bau-boldregular') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'bau';
    src: url('../fonts/bau-regularitalic-webfont.eot');
    src: url('../fonts/bau-regularitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bau-regularitalic-webfont.woff') format('woff'),
         url('../fonts/bau-regularitalic-webfont.ttf') format('truetype'),
         url('../fonts/bau-regularitalic-webfont.svg#bau-regularitalicregular') format('svg');
    font-weight: normal;
    font-style: italic;
}

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body, html, input {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: 'bau';
}


img {
	/* width: 100%; */
	display: block;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'caslon-graphique';
	color: $text-dark;
	-webkit-font-smoothing: antialiased;
}

h3 {
	font-size: 46px;
	font-weight: normal;
}

// H2 ARE ONLY USED ON FULL-SCREEN IMG SEPARATORS
h2 {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	text-align: center;
	height: 140px;
	display: block;
	color: $text-light;
	font-size: 120px;
	/* -webkit-transform: translateY(-50%) translateX(-50%); */
	margin: -70px 0 0;
	text-shadow: 0 1px 0 #999;
	font-weight: normal;
	letter-spacing: 2px;
	opacity: 1;
}

h4 {
	font-size: 32px;
	font-weight: normal;
	margin: 80px 0 16px;
	text-align: center;
}

p {
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	color: $text-dark-alt;
	line-height: 1.5;
}

#svg-anim {
	width: 100px;
	height: 100px;
	margin: 80px auto 0;
	display: block;
}

.spotify {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,.85);
	z-index: 99;
	display: none;
}
.spotify #spotify-close {
	position: absolute;
	top: 50px;
	right: 50px;
	width: 50px;
	height: 50px;
}
.spotify-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 600px;
	height: 450px;
	margin: -225px 0 0 -300px;
	z-index: 999;
}
.spotify h3 {
	font-size: 42px;
	color: #FFF;
	text-align: center;
}
.spotify p {
	color: #FFF;
	text-align: center;
}
.spotify iframe {
	width: 300px;
	margin: 50px auto 0;
	display: block;
}


nav {
	position: fixed;
	top: 0px;
	left: -80px;
	bottom: 0;
	z-index: 10;
	width: 60px;
	background: linear-gradient(to bottom, #004494 0%, #1FBAE9 100%);
	background: #383D3F;
	-webkit-animation: 0.35s 0.5s menuIn ease-out forwards;
}

@-webkit-keyframes menuIn {
	from {
		-webkit-transform: translateX(0);
	}
	to {
		-webkit-transform: translateX(80px);
	}
}
nav > img {
	margin: 25px 0 40px 7px;
	width: 100px;
	display: none;
	-webkit-transform: rotate(-90deg);
	position: absolute;
	top: 40px;
	left: -30px;
	opacity: 0.75;
}

nav ul {
	list-style: none;
	padding: 0;
	position: absolute;
	top: 50%;
	margin-top: -196px;
}
nav li {
	position: relative;
	padding: 15px 0;
	width: 60px;
	height: 60px;
	/* background: rgba(255,255,255,0.95); */
	/* background: rgba(0,0,0,0.95); */
	-webkit-transition: 0.5s margin;
	text-align: center;
	/* border-bottom: 1px solid rgba(255,255,255,0.15); */
	border-bottom: 1px solid rgba(255,255,255,.1);
	overflow: hidden;
}
nav li:first-child {
	border-top: 1px solid rgba(255,255,255,.1);
}

nav li.active, nav li:hover {
	margin-left: 0;
}
nav li a {
	color: rgba(255,255,255,0.5);
	text-decoration: none;
	font-size: 13px;
}
nav li.active a {
	color: #FFF;
}
nav li a img {
	display: inline-block;
	text-align: center;
	-webkit-transition: 0.35s all;
	width: 32px;
	-webkit-filter: invert(100%);
	opacity: 0.75;
}

nav li:hover {
	background: #4F5759;
	-webkit-transition: 0.35s all;
	border-color: transparent;
	overflow: visible;
}
nav li.active a img,
nav li:hover a img {
	opacity: 1;
}
nav li a span {
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: 60px;
	line-height: 60px;
	background: #008FCC;
	padding: 0 25px;
	font-weight: bold;
	-webkit-transition: 0.35s all;
	-webkit-font-smoothing: antialiased;
	opacity: 0;
	-webkit-transform: translate3d(60px,0,0);
	-webkit-backface-visibilty: hidden;
	text-transform: uppercase;
	&:before {
		content: '';
		position: absolute;
		top: 50%;
		margin-top: -7px;
		left: -10px;
		display: block;
		width: 0; 
		height: 0; 
		border-top: 8px solid transparent;
		border-bottom: 8px solid transparent;
		border-right: 10px solid #008FCC;
	}
}
nav li:hover a span {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
}


.intro {
	position: relative;
	overflow: hidden;
	width: 100%;
}

.intro .bubble {
	width: 120px;
	height: 120px;
	position: absolute;
	background: rgba(0,0,0,.65);
	border-radius: 100%;
	margin: -60px 0 0 -60px;
	font-weight: bold;
	color: #F8F8F8;
	font-size: 14px;
	text-align: center;
	line-height: 122px;
	-webkit-font-smoothing: antialiased;
}
.intro .bubble-1 {
	top: 35%;
	left: 66%;
}
.intro .bubble-2 {
	top: 40%;
	left: 46%;
}
.intro .bubble-3 {
	top: 57.5%;
	left: 17%;
}
.intro .bubble-4 {
	top: 84%;
	left: 48%;
}



.intro img {
	width: 100%;
}

.intro h1 {
	font-size: 70px;
	text-align: center;
	color: #FFF;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 #666;
	line-height: 66px;
}


.intro .text {
	position: absolute;
	top: 140px;
	left: 50%;
	width: 500px;
	-webkit-transform: translateX(-50%);	
}


/* PUZZLE TILES */
.puzzle-tiles {
	width: 960px;
	margin: 100px 0 200px -90px;
	overflow: hidden;
	.tile-row {
		width: 240px;
		float: left;
		img {
			width: 240px;
		}
	}
	.square {
		width: 240px;
		height: 240px;
	}
	.square-50 {
		width: 240px;
		height: 120px;
	}
	.square-top-120 {
		margin-top: 120px;
	}
	.square-double {
		width: 240px;
		height: 480px;
	}
	.square-small {
		width: 120px;
		height: 120px;
	}
	.color-1 {
		background: #003191;
	}
	.color-2 {
		background: #004AA1;
	}
	.color-3 {
		background: #005AAB;
	}
	.color-4 {
		background: #0074BB;
	}
	.color-5 {
		background: #007CC1;
	}
	.color-6 {
		background: #008FCC;
	}
}

/* VISION TILES */
.vision-tiles {
	width: 1020px;
	margin: 100px 0 0 -110px;
	overflow: hidden;
	.tile {
		position: relative;
		float: left;
		img {
			width: 340px;
		}
		.overlay {
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate3d(-50%, -50%, 0);
			&.caption-box {
				width: 250px;
			}
			img {
				-webkit-filter: invert(100%);
				width: 100px;
				margin: 0 auto 10px auto;
			}
			i {
				position: relative;
				font-style: normal;
				font-size: 21px;
				color: #FFF !important;
				-webkit-font-smoothing: antialiased;
				width: 250px;
				display: block;
				line-height: 1.4em;
				strong {
					font-family: 'caslon-graphique';
					font-size: 50px;
					position: absolute;
					margin: 15px;
					opacity: 0.5;
				}
			}
			span {
				display: block;
				margin-top: 20px;
				color: #FFF;
				-webkit-font-smoothing: antialiased;
				strong {
					font-family: 'caslon-graphique';
					color: #FFF;
					text-transform: uppercase;
					display: block;
					margin-bottom: 2px;
				}
			}
			
		}
		h5 {
			color: #FFF;
			text-align: center;
			font-size: 120px;
			font-weight: normal;
			-webkit-font-smoothing: antialiased;
			line-height: 120px;
		}
		h6 {
			font-family: 'bau';
			color: #FFF;
			text-align: center;
			font-size: 24px;
			-webkit-font-smoothing: antialiased;
		}
	}
}

/*
.intro span {
	font-size: 22px;
	color: #FFF;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 #666;
	text-align: center;
	margin-top: -34px;
	display: block;
}
*/

.fullscreen {
	position: relative;
	width: 100%;
	height: 100%;
	-webkit-transform: translate3d(0,0,0); /* HARDWARE ACCELERATE IT */
}
.f-bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: url(img/vy_vasag_1440.jpg) no-repeat center bottom;
	background-size: cover;
	-webkit-filter: brightness(90%) hue-rotate(-20deg);
}

.filter-red {
	-webkit-filter: hue-rotate(-20deg);
}


.f-1 {
	-webkit-filter: none;
	background: url(img/vy_klarab_1440.jpg) no-repeat bottom center;
	background-size: cover;
}
.f-2 {
	background: url(img/srum_3_1440.jpg) no-repeat bottom center;
	background-size: cover;
}
.f-3 {
	background: url(img/vy_takt_1440.jpg) no-repeat center;
	background-size: cover;
}
.f-4 {
	background: url(img/vy_terass_1440.jpg) no-repeat center;
	background-size: cover;
}
.f-5 {
	background: url(img/bostad.jpg) no-repeat center;
	background-size: cover;
}
.f-6 {
	background: url(img/flyg_close_1440.jpg) no-repeat center;
	background-size: cover;
}


.quote {
	height: 340px !important;
	.bg, .inner {
		height: 340px !important;
	}
	.inner {
		width: 800px !important;
	}
	i {
		font-family: Merriweather;
		color: #FFF;
		font-size: 26px;
		-webkit-font-smoothing: antialiased;
	}
	hr {
		width: 140px;
		text-align: left;
		background: none;
		border: none;
		margin-top: 16px;
		border-bottom: 1px solid rgba(255,255,255,.5);
	}
	span {
		text-align: center;
		display: block;
		color: #FFF;
		-webkit-font-smoothing: antialiased;
		text-transform: uppercase;
		font-size: 13px;
		margin-top: 14px;
		font-weight: bold;
		opacity: 0.5;
	}
}

.alt-bg {
	width: 100%;
	background: #F5F5F5;
}
.sep {
	width: 800px;
	margin: 0 auto;
	padding: 100px 0;
}

.sep h3 {
	text-align: center;
}
.sep hr {
	width: 33%;
	margin-top: 20px;
	height: 1px;
	border: none;
	background: linear-gradient(to right, #003091 0%,#00B8E6 100%);
}

/*
.sep .text-end {
	text-align: center;
	display: block;
	font-family: 'caslon-graphique';
	font-size: 46px;
	margin-top: 40px;
	opacity: 0.25;
	-webkit-font-smoothing: antialiased;
	letter-spacing: 5px;
}
.sep .text-end i {
	font-size: 54px;
	font-style: normal;
	line-height: 54px;
	margin: 0;
	position: relative;
	top: 4px;
}
*/

.sep figure {
	width: 1000px;
	margin: 50px -100px;
	overflow: hidden;
	position: relative;
}

.sep figure#focusable {
	background: #FFF;
	cursor: -webkit-zoom-in;
}

.sep figure.focus {
	display: block;
	position: fixed; 
	top: 0; 
	right: 0;
	left: 0;
	bottom: 0;
	background: #111; 
	z-index: 9999;
	width: auto;
	height: 100%;
	margin: 0;
	cursor: -webkit-zoom-out !important;
	-webkit-transition: 0.5s all;
}
.sep figure.focus img {
	width: 100%;
}
.sep figure.focus figcaption {
	display: none;
}

.sep figure img.border-left {
	width: 400px;
	border-left: 4px solid #FFF;
}
.sep figure img.border-bottom {
	width: 400px;
	border-bottom: 4px solid #FFF;
}
.sep figure img.border-top {
	width: 400px;
	height: 240px;
}

.sep figcaption {
	font-family: 'Merriweather';
	font-weight: 300;
	font-style: italic;
	color: #777776;
	-webkit-font-smoothing: antialiased;
	font-size: 14px;
	position: relative;
	z-index: 1;
}
.sep figure img {
	width: auto;
	display: block;
	float: left;
}
.sep figcaption hr {
	width: 50px;
	text-align: left;
	display: inline-block;
}
.sep figcaption i {
	display: block;
}

.sep figcaption.caption-box {
	width: 400px;
	height: 240px;
	display: block;
	float: left;
	border-left: 4px solid #FFF;
	border-bottom: 4px solid #FFF;
	font-size: 16px;
	color: #FFF;
	padding: 30px 35px;
}

.sep figcaption.caption-box hr {
	margin-top: 10px;
	background: rgba(255,255,255,.25);
}
.sep figcaption.caption-box i {
		line-height: 1.5;
}
.sep figcaption.caption-box span {
	display: block;
	font-family: 'bau';
	font-style: normal;
	text-transform: uppercase;
	font-size: 11px;
	color: rgba(255,255,255,0.6);
}
figure .figcaption-bg {
	position: absolute;
	top: 0; 
	right: 0;
	width: 400px;
	height: 240px;
}
figure .figcaption-bg img {
	-webkit-filter: grayscale(80%) brightness(40%);
}
figure .figcaption-bg .gradient {
	width: 400px;
	background: linear-gradient(to right, #003191 0%, #00B5E5 100%);
	height: 240px;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.5;
}

blockquote {
	font-family: 'Merriweather';
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	width: 824px;
	margin-left: -24px;
	margin-top: 26px;
	padding: 0 20px;
	font-style: italic;
	color: #666;
	font-size: 18px;
	line-height: 1.5;
	border-width: 0 0 0 4px;
  -webkit-border-image: -webkit-linear-gradient(#00B8E6, #003091) 1 100%;
}

.peek {
	width: 800px;
	height: 400px;
	position: relative;
	background: #F8F8F8;
	overflow: hidden;
	margin-top: 50px;
}
.peek object {
	margin: -60px 0 0 65px;
}
.peek img {
	position: absolute;
	top: -100px;
	left: 0;
	z-index: 1000;
}


.grid {
	width: 1000px;
	margin: 50px -100px;
	overflow: hidden;
}

.grid img {
	width: auto !important;
	float: left;
}

.grid .square {
	width: 500px;
	height: 400px;
	float: left;
	// border-right: 2px solid #F5F5F5;
	position: relative;
	padding: 100px;
	background: #FFF;
}
.grid .square-left {
	border: none;
	// border-left: 2px solid #F5F5F5;
}

.grid .square-first {
	// border-top: 2px solid #F5F5F5;
}
.grid .square-last {
	// border-bottom: 2px solid #F5F5F5;
}

.grid .square .arrow {
	position: absolute;
	top: 50%;
	margin-top: -15px;
	left: -20px;
	display: block;
	width: 0; 
	height: 0; 
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 20px solid #FFF;
	z-index: 1;
}
.grid .square-left .arrow {
	border-right: none;
	border-left: 20px solid #FFF;
	left: auto;
	right: -20px;
}

.grid h5 {
	width: 80%;
	margin-left: 10%;
	margin-bottom: 0;
	margin-top: 26px;
	font-family: 'bau';
	color: #383D3F;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	font-size: 20px;
	/*
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	*/
	letter-spacing: 2px;
}
.grid .square img {
	display: block;
	float: none;
	margin: 0 auto;
}
.grid p{
	font-size: 16px;
	text-align: center;
	font-family: 'Merriweather';
	color: #555;
}
.grid ul {
	list-style: none;
}
.grid li {
	font-family: 'Merriweather';
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	color: #555;
	margin-bottom: 3px;
}
.grid hr {
	margin-top: 16px;
	width: 80%;
	border-bottom: 1px solid #2A95CB;
	opacity: 0.75;
}

/*
.grid .square:hover hr {
	height: 2px;
	background: linear-gradient(to right, #FC3700 0%,#FF8F00 100%);
	opacity: 0.75;
}
*/

.timeline {
	width: 800px;
	height: 660px;
	position: relative;
	margin: 70px 0 200px 0;
}
.timeline .line {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
	width: 2px;
	background: rgba(0,0,0,0.1);
}
.timeline .timestamp {
	position: absolute;
	width: 50%;
	top: 0px;
}



.timeline .ts-2 {
	top: 80px;
}
.timeline .ts-3 {
	top: 160px;
}
.timeline .ts-4 {
	top: 240px;
}
.timeline .ts-5 {
	top: 320px;
}
.timeline .ts-6 {
	top: 400px;
}
.timeline .ts-7 {
	top: 480px;
}
.timeline .ts-8 {
	top: 560px;
}
.timeline .ts-9 {
	top: 640px;
}

.timestamp .mark {
	position: absolute;
	top: 0;
	right: -10px;
	width: 20px;
	height: 20px;
	margin-left: -10px;
	background: #FFF;
	border-radius: 100%;
	border: 2px solid rgba(0,0,0,0.1);
	line-height: 46px;
	text-align: center;
	font-size: 13px;
	color: #E1E1E1;
	font-family: 'bau';
	font-weight: bold;
	-webkit-transition: 0.35s all;
	-webkit-font-smoothing: antialiased;
}

.timestamp .mark:after {
	position: absolute;
	top: 50%;
	left: -6px;
	margin-top: -6px;
	content: '';
	display: block;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-right: 6px solid #E5E5E5;
}

.timestamp h5 {
	font-family: 'bau';
	color: #CCC;
	font-size: 12px;
	margin: 0 60px 2px 0;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 0.35s all;
}
.timestamp h6 {
	color: #333;
	font-family: 'bau';
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: 0.35s all;
}
.timestamp p {
	margin-top: 8px;
	font-size: 16px;
	margin-right: 60px;
	color: #666;
}

/* TIMESTAMP RIGHT */
.timeline .timestamp-right {
	right: 0;
}
.timestamp-right .mark {
	right: auto;
	left: 0;
}
.timestamp-right .mark:after {
	left: auto;
	right: -6px;
	border-right: none;
	border-left: 6px solid #E5E5E5;
}
.timestamp-right h5,
.timestamp-right h6,
.timestamp-right p {
	margin-left: 60px;
	margin-right: 0;
}

/* TIMESTAMP HOVER */
.timestamp:hover .mark {
	-webkit-transform: scale(1.25);
}
.timestamp:hover h5 {
	color: #999;
}
.timestamp:hover h6 {
	color: #666;
}



.gallery {
	width: 1000px;
	margin: 0 auto 0 -100px;
	overflow: hidden;
}
.gallery img {
	width: 50%;
	float: left;
	height: 360px;
	//border: 2px solid #FFF;
	cursor: -webkit-zoom-in;
}

.downloads {
	width: 820px;
	margin-left: -10px;
	overflow: hidden;
}

.downloads, .press {
	h4 {
		margin-bottom: 30px;
	}
}

.files {
	width: 402px;
	overflow: hidden;
	margin: 0 4px 8px;
	float: left;
	background: #FFF;
	cursor: pointer;
	.preview {
		width: 84px;
		height: 80px;
		background: rgba(0,0,0,.25);
		background: #FFF;
		border-right: 4px solid #F5F5F5;
		float: left;
		-webkit-transition: 0.35s all;
		/*
		line-height: 80px;
		text-align: center;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
		-webkit-font-smoothing: antialiased;
		-webkit-transform: rotate(90deg);
		*/
	}
	&:hover .preview {
		background: #008FCC;
	}
	img {
		width: 40px;
		margin: 21px 0 0 21px;
	}
	&:hover img {
		-webkit-filter: brightness(0%) invert(100%);
	}

	.meta {
		width: 306px;
		float: right;
		border: 3px solid #FFF;
		border-left: none;
		height: 80px;
		padding-left: 26px;
	}
	h5 {
		font-family: 'bau';
		font-size: 16px;
		margin: 18px 0 3px;
		font-weight: normal
	}
	p {
		margin: 0;
		font-size: 13px;
		font-family: 'Merriweather';
		color: $text-dark-alt;
	}
}

.press {
	width: 800px;
	overflow: hidden;
}

.press .downloads h4 {
	margin-bottom: 38px;
}

.questions {
	width: 100%;
}
.answer {
	background: #FFF;
	padding: 40px 40px 10px;
	margin-bottom: 4px;
	h5 {
		font-family: 'bau';
		font-size: 18px;
		margin: 0 0 6px;
	}
	p {
		margin: 0 0 24px;
		font-size: 16px;
	}
}



.contact {
	overflow: hidden;
	width: 100%;
	padding: 80px;
}
.contact .wrapper {
	width: 1000px;
	margin: 0 auto;
}
.contact .person {
	float: left;
	overflow: hidden;
	width: 320px;
	margin-bottom: 30px;
	margin-right: 20px;
}
.contact .person.last {
	margin-right: 0;
}

.contact img {
	width: 140px;
	height: 140px;
	float: left;
	border-radius: 100%;
}
.contact .inner {
	width: 240px;
	height: 120px;
	border-left: none;
	float: left;
}

.contact h6 {
	font-size: 18px;
	font-family: 'bau';
	-webkit-font-smoothing: antialiased;
	color: #333;
	line-height: 26px;
	margin: 15px 0 12px 0;
}
.contact span,
.contact a {
	color: #333;
	display: block;
	font-weight: normal;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
}
.contact a {
	color: #888;
	text-decoration: none;
	margin-top: 4px;
}
.contact h4 {
	margin: 0 0 40px 0;
}

.newsletter {
	position: relative;
	width: 100%;
	height: 240px;
	background: linear-gradient(to right, #004494 0%, #1fbae9 100%);
}
.newsletter .bg {
	position: absolute;
	top: 0;
	left: 0;
	height: 240px;
	width: 100%;
	background: url(img/flyg_1440.jpg) no-repeat center;
	background-size: cover;
	-webkit-filter: grayscale(80%) brightness(30%);
	z-index: 1;
	opacity: 0.5;
}
.newsletter .inner {
	position: relative;
	margin: 0 auto;
	padding: 100px 0 0;
	width: 1000px;
	z-index: 2;
}

.newsletter h6 {
	font-family: 'bau';
	text-transform: uppercase;
	color: #FFF;
	width: 330px;
	font-size: 16px;
	float: left;
	-webkit-font-smoothing: antialiased;
}
.newsletter h6 span {
	font-weight: normal;
	text-transform: none;
	display: block;
	margin-top: 2px;
	font-size: 14px;
}

.newsletter input {
	display: block;
	float: right;
	-webkit-font-smoothing: antialiased;
}
.newsletter input[type="email"] {
	background: #F8F8F8;
	border: none;
	padding: 12px 20px;
	width: 380px;
	margin: 0;
	color: #333;
	margin-right: 20px;
}
.newsletter input[type="submit"] {
	padding: 12px 20px 13px;
	border: none;
	background: transparent;
	border: 1px solid #FFF;
	color: #FFF;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	text-shadow: 0 1px 0 rgba(0,0,0,0.25);
}

.logos {
	width: 100%;
	margin: 0 auto;
	height: auto;
	position: relative;
}
.logos .bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: cover;
}
.logos .inner {
	position: relative;
	z-index: 1;
	width: 1040px;
	margin: 40px auto;
}
.logos h6 {
	font-family: 'bau';
	color: #FFF;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #000;
	padding-bottom: 30px;
	width: 800px;
	margin-bottom: 40px;
}

.logos img {
	float: left;
	margin: 0 20px;
}
.logos .jernhusen {
	width: 100px;
	margin-top: 10px;
	margin-left: 0;
}
.logos .sl {
	width: 50px;
}
.logos .stockholm-stad {
	width: 110px;
}
.logos .landsting {
	width: 80px;
}
.logos .strabag {
	margin-top: 10px;
	width: 60px;
}
.logos .trafikverket {
	width: 150px;
	margin-top: 10px;
	margin-right: 0;
}

footer {
	position: relative;
	background: #111;
	height: auto;
	overflow: hidden;
}
footer .gradient {
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, #1A579E 0%, #35C1EB 100%);
}
footer .wrapper {
	width: 1000px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
footer p {
	float: left;
	clear: left;
	width: 100%;
	margin: 10px 0 8px;
	color: #999;
	font-size: 14px;
}
footer .wrapper p a {
	color: #F8F8F8;
}
footer .wrapper > a {
	float: left;
	margin-top: 20px; 	
}
footer .bottom {
	width: 100%;
	background: #222;
	margin-top: 40px;
}
footer small {
	margin-left: 20px;
	color: #666;
}
/*
footer small {
	position: absolute;
	top: 30px;
	font-size: 12px;
	color: #666;
	left: 118px;
	-webkit-font-smoothing: antialiased;
	margin-top: 4px;
}
*/

@media only screen and (max-width: 767px) {
	h2 {
		font-size: 46px;
	}
	.sep {
		width: 100%;
		padding: 5% 5% 10% 5%;
	}
	.sep h3 {
		font-size: 36px;
		text-align: left;
		margin-bottom: 10px;
	}
	p {
		font-size: 16px;
	}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  
  /* Styles for mobile */

}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles for tablet */

}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) {

  /* Don't forget your Retina CSS! */
  
  body {
    background-size: 72px 72px;
  }

}

.train-container {
	width: 1440px;
	height: 800px;
	margin: 0 auto 0 -320px;
	overflow: hidden;
	position: relative;
}
.train-container p {
	font-size: 14px;
}
.train-container h5 {
	font-family: 'bau';
}
.train-one {
	margin: 100px 0 0;
}
.train-one img {
	-webkit-transform: translate(1440px,0);
	-webkit-animation: train-one-animation 10s forwards ease-in-out infinite;
	
}
.train-two img {
	-webkit-transform: translate(-1440px,0);
	-webkit-animation: train-two-animation 10s forwards ease-in-out infinite;
	
}
.line-1-container {
	position: absolute;
	height: 200px;
	top: 144px;
	left: 366px;

}
.line-2-container {
	position: absolute;
	height: 400px;
	top: 143px;
	left: 577px;
}
.counter {
	text-align: center;
	width: 200px;
	border-radius: 1000px;
	height: 200px;
	margin: 0 100px;
	border: 2px solid #00B8E6;
	display: inline-block;
	position: relative;
}
.counter:before {
	content: '';
	position: absolute;
	height: 71px;
	background: linear-gradient(to bottom, #1A579E 0%, #35C1EB 100%);
	width: 2px;
	left: 50%;
	margin-left: -1px;
	top: -73px;
	-webkit-animation: connect-one 10s forwards ease-in-out infinite;
	-webkit-transform-origin:bottom center;
}
.counter:after {
	content: '';
	position: absolute;
	height: 83px;
	background: linear-gradient(to top, #1A579E 0%, #35C1EB 100%);
	width: 2px;
	left: 50%;
	margin-left: -1px;
	bottom: -83px;
	-webkit-animation: connect-one 10s forwards ease-in-out infinite;
	-webkit-transform-origin:top center;
}
.counter h3 {
	display: inline-block;
	margin: 0;
	font-size: 60px;
	line-height: 200px;
}
.counter .man {
	width: 30px;
	left: 50%;
	margin-left: -15px;
	top: 18px;
	position: absolute;
}
.text-and-counter {
	width: 1020px;
	position: relative;
	margin: 0 auto;
	padding: 60px 0 80px;
}
.text-and-counter .text {
	width: 300px;
	display: inline-block;
}

@-webkit-keyframes connect-one {
	
	0% {
	-webkit-transform: scaleY(0);
	}
	25% {
	-webkit-transform: scaleY(0);
	}
	30% {
	-webkit-transform: scaleY(1);
	}
	64% {
	-webkit-transform: scaleY(1);
	}
	67% {
	-webkit-transform: scaleY(0);
	}
	100% {
	-webkit-transform: scaleY(0);
	}
}

@-webkit-keyframes train-one-animation {
	
	0% {
	-webkit-transform: translate(-1440px,0);
	}
	25% {
	-webkit-transform: translate(-300px,0);
	}
	55% {
	-webkit-transform: translate(-300px,0);
	}
	80% {
	-webkit-transform: translate(1440px,0);
	}
	100% {
	
	}
}
@-webkit-keyframes train-two-animation {
	
	0% {
	-webkit-transform: translate(1440px,0);
	opacity: 1;
	}
	25% {
	-webkit-transform: translate(300px,0);
	
	}
	55% {
	-webkit-transform: translate(300px,0);
	}
	80% {
	-webkit-transform: translate(-1500px,0);
	opacity: 1;
	}
	100% {
	opacity: 0;
	-webkit-transform: translate(-1500px,0);
	}
}